body{
	font-family: 'PT Sans Narrow', sans-serif;
}
/*гамбургер*/
nav{
	height: 40px;
}

.burger-icon {
  position: relative;
  right: 1%;
  cursor: pointer;
  top: 3px;
}

.burger-nav {
  display: block;
  height: 40px;
  width: 100%;
  background-color: #cccccc;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  
}

header .wrapper {
  width: 250px; 
  padding: 0;
  margin: 0;
}

#nav {
	z-index: 9999;
	overflow: hidden;
	background: #505050;
	height: 0;
	max-height: 0px; 
	list-style-type: none;
	padding-left: 0;
	-webkit-transition: linear 1s;
	transition: linear 1s;
}

#nav.open {
	margin-top: 0;
	top: -43px;
	position: relative;
	height: auto;
	max-height: 500px; 
	-webkit-transition: linear 1s;
	transition: linear 1s;

}

#nav li {
  float: none;
  text-align: left;
  text-decoration: none;
  width: 100%; 
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li a {
text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
  -webkit-transition: linear 1s;
}

#contain {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 12px; 
    top: -40px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.hover .bar1 {
  background-color: red;
}

.hover .bar2 {
  background-color: red;
}

.hover .bar3 {
  background-color: red;
}
/*конец гамбургера*/

header{
	display: flex;
    justify-content: space-between;
    background-color: #000;
}

nav > a {
	transition: 0.5s;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
}

nav > a:active {
	color: orange;
	transition: 0.5s;

}

nav > a:hover{
	text-shadow: 0 0 5px white;
	transition: 0.3s;
}

nav > a:first-child{
	padding-left: 0;
}

nav > a:last-child{
	padding-right: 0;
	border-right: none;
}

#logo__image{
	width: 100%;
	height: 100%;
	max-width: 160px;
	max-height: 100px;
	background-color: black;
	float: left;
	margin-right: 20px;
}

.logo{
	width: 520px;
	text-decoration: none;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	float: left;
	border-right: 15px solid white;
	border-radius: 50px;
	box-shadow: 0 0 25px white;
	transition: 1s;

}

.logo:hover{
	box-shadow: 0 0 55px white;
	transition: 1s;
}

.logo__text{
    white-space: nowrap;
	padding-top: 20px;
	text-shadow: 1px 1px 2px red;
	transition: 0.5s;
}

.logo__text:hover{
	text-shadow: 1px 1px 2px red, 0 0 1em cyan;
	transition: 0.5s;
}

#mail{
	padding: 34px;
    font-size: 24px;
    text-decoration: none;
	color: #fff;
	transition: 1s;
}

#mail:hover{
	text-shadow: 1px 1px 2px red, 0 0 1em cyan;
	transition: 1s;
}

#nav > li:hover {
	text-shadow: 1px 1px 2px red, 0 0 1em cyan;
	transition: 0.5s;
}

#nav > li>a:active {
	color: orange;
	text-shadow: 1px 1px 2px red;
}

#nav > li {
	text-shadow: 1px 1px 2px red;
	transition: 0.5s;
}

/*end header*/

/*start galery*/
.galery{
	background-image: URL('../img/fon-1.jpg');
	width: 100%;
	height: 555px;
	background-repeat: no-repeat;
	margin: 0;
	background-size: cover;
	text-align: center;
}

.galery__title{
    padding-top: 45px;
    font-size: 60px;
    margin: 0;
}

main{
	position: relative;
	top: -2px;
}

.buy{
	width: 150px;
    height: 50px;
}

.buy-img:hover::before, .buy-img:hover::after{
	content: url('../img/fire.png');
	top: 40px;
	border-radius: 4px;
	cursor: pointer;
}

/*button buy*/

.buy {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  cursor: pointer;
} 
.buy:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.buy:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.galery__text{
	margin: 30px 0px;
}


/*description*/
#description__list{
	display: flex;
	justify-content: space-around;
}

.description__list-item{
	list-style: none;
}

.description__title{
	text-align: center;
	margin-top: 70px;
    margin-bottom: 50px;
    font-size: 24px;
}

.description__block{
    width: 250px;
    border: 1px solid darkgray;
    text-align: center;
    border-radius: 12px;
    padding: 17px;
}

.description__block-icon{
    width: 100px;
    height: 100px;
}

.description__block-line{

}

.description__block-text{

}


.form{
	width: 400px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: auto;
    padding: 45px;
    border-radius: 15px;
}

.form > input{
	padding: 15px;
    font-size: 18px;
    border-radius: 19px;
    margin-bottom: 50px;
}

.btn{
	width: 250px;
    padding: 20px 0;
    font-size: 20px;
    background-color: gold;
    border-radius: 15px;
    cursor: pointer;
}

.formzone{
	background-color: black;
	padding: 65px;
}

.vitrine{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vitrine__block:hover .vitrine__block_fone{
	display: block;
	height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    transition: .5s;
    opacity: .9;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.vitrine__block_fone{
	display: none;
}

.vitrine__block{
    margin-top: 30px;
    width: 33vw;
    height: 25vw;
}

.vitrine__block_one{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_two{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_three{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_four{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_five{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_six{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}

.vitrine__block_seven{
	background-image: url(../img/item1.jpg);
    background-repeat: round;
}



.vitrine__block_fone{
    z-index: 2;
}

.vitrine__img{
	
	z-index: 0;
}

@media screen and (min-width: 450px) and (max-width: 750px) {
	.logo{
		display: none;
	}
	#mail{
		margin: auto;
	}
	.description{
		display: none;
	}
	
}

@media screen and (min-width: 750px) and (max-width: 819px) {
	.logo__text{
	    white-space: pre-wrap;
	    padding-top: 12px;
	    font-size: 31px;
	}

	.description{
		display: none;
	}

	.hamburger-menu{
		display: block;
	}
}	

@media screen and (min-width: 820px) and (max-width: 1099px) {
	.logo__text{
	    white-space: pre-wrap;
	}

	#mail{
		font-size: 18px;
	}
		#nav{
		display: flex;
		margin: 0;
		position: relative;
		height: auto;
		max-height: 500px; 
		-webkit-transition: linear 1s;
		transition: linear 1s;
	}
	#nav>li{
		text-align: center;
	}
	.burger-nav, #contain{
		display: none;
	}
	.description{
		display: none;
	}
	
}

@media screen and (min-width: 1100px) and (max-width: 1999px){
	.logo{
		font-size: 2em;
		width: 455px;
	}

	.logo__text{
		padding-top: 28px;
	}
	#nav{
		display: flex;
		margin: 0;
		position: relative;
		height: auto;
		max-height: 500px; 
		-webkit-transition: linear 1s;
		transition: linear 1s;
	}
	#nav>li{
		text-align: center;
	}
	.burger-nav, #contain{
		display: none;
	}
}