/*гамбургер*/
/*.hamburger-menu{
	width: 60px;
	height: 24px;
	border: 7px solid #fff;
	margin-top: 24px;
    margin-right: 36px;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    display: none;
}

.hamburger-menu__line{
	margin-top: 7px;
	width: 60px;
	height: 1px;
	border-bottom: 7px solid #fff;
}*/

nav{
	height: 40px;
}

.burger-icon {
  position: relative;
  right: 1%;
  cursor: pointer;
  top: 3px;
}

.burger-nav {
  display: block;
  height: 40px;
  width: 100%;
  background-color: #cccccc;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  
}

header .wrapper {
  width: 250px; 
  padding: 0;
  margin: 0;
}

#nav {
  overflow: hidden;
  background: #505050;
  height: 0;
  max-height: 0px; 
  list-style-type: none;
  padding-left: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav.open {
	margin-top: 0;
	top: -43px;
	position: relative;
	height: auto;
	max-height: 500px; 
	-webkit-transition: linear 1s;
	transition: linear 1s;

}

#nav li {
  float: none;
  text-align: left;
  text-decoration: none;
  width: 100%; 
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li a {
text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#contain {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 12px; 
    top: -40px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.hover .bar1 {
  background-color: red;
}

.hover .bar2 {
  background-color: red;
}

.hover .bar3 {
  background-color: red;
}
/*конец гамбургера*/

header{
	display: flex;
    justify-content: space-between;
    background-color: #000;
}

/*nav{
	height: 24px;
	font-size: 24px;
}*/

nav > a {
	transition: 0.5s;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
}

nav > a:active {
	color: orange;
	transition: 0.5s;

}

nav > a:hover{
	text-shadow: 0 0 5px white;
	transition: 0.3s;
}

nav > a:first-child{
	padding-left: 0;
}

nav > a:last-child{
	padding-right: 0;
	border-right: none;
}

#logo__image{
	width: 100%;
	height: 100%;
	max-width: 160px;
	max-height: 100px;
	background-color: black;
	float: left;
	margin-right: 20px;
}

.logo{
	width: 520px;
	text-decoration: none;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	float: left;
	border-right: 15px solid white;
	border-radius: 50px;
	box-shadow: 0 0 25px white;
	transition: 1s;

}

.logo:hover{
	box-shadow: 0 0 55px white;
	transition: 1s;
}

.logo__text{
    white-space: nowrap;
	padding-top: 20px;
	text-shadow: 1px 1px 2px red;
}

.logo__text:hover{
	text-shadow: 1px 1px 2px red, 0 0 1em cyan;
	transition: 0.5s;
}

@media screen and (min-width: 400px) and (max-width: 849px) {
	.logo__text{
	    white-space: pre-wrap;
	    padding-top: 12px;
	}


	.hamburger-menu{
		display: block;
	}
}	

@media screen and (min-width: 850px) and (max-width: 1099px) {
	.logo__text{
	    white-space: pre-wrap;
	    padding-top: 12px;
	}


}

@media screen and (max-width: 1100px) {
	.logo{
		font-size: 2em;
		width: 455px;
	}

	.logo__text{
		padding-top: 28px;
	}

}